<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Dashboard - NiceAdmin Bootstrap Template</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/assets/img/favicon.png" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet">

</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a href="index.html" class="logo d-flex align-items-center">
                <img src="" />
                <span class="d-none d-lg-block">WRTS</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div>
        <!-- End Logo -->

        <div class="search-bar">
            <form class="search-form d-flex align-items-center" method="POST" action="#">
                <input type="text" name="query" placeholder="Search" title="Enter search keyword">
                <button type="submit" title="Search"><i class="bi bi-search"></i></button>
            </form>
        </div>
        <!-- End Search Bar -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <li class="nav-item d-block d-lg-none">
                    <a class="nav-link nav-icon search-bar-toggle " href="#">
                        <i class="bi bi-search"></i>
                    </a>
                </li>
                <!-- End Search Icon-->

                <li class="nav-item dropdown pe-3">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img src="~/assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                        <span class="d-none d-md-block dropdown-toggle ps-2">@User.Identity.Name </span>
                    </a>
                    <!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>@User.Identity.Name @User.FindFirst("Surname").Value </h6>
                            <span>@User.FindFirst("Department").Value</span>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" asp-controller="Home" asp-action="Profile" >
                                <i class="bi bi-person"></i>
                                <span>My Profile</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" asp-controller="Login" asp-action="Logout">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Sign Out</span>
                            </a>
                        </li>

                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link " href="index.html">
                    <i class="bi bi-grid"></i>
                    <span>Control Panel</span>
                </a>
            </li><!-- End Dashboard Nav -->
            @{
                var job = @User.FindFirst("Department").Value;
                switch (job)
                {
                    case "Admin":
                                <li class="nav-item">
                                    <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                                        <i class="bi bi-menu-button-wide"></i><span>User Operations</span><i class="bi bi-chevron-down ms-auto"></i>
                                    </a>
                                    <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                                        <li>
                                            <a asp-controller="User" asp-action="AddUser" >
                                                <i class="bi bi-circle"></i><span>Add User</span>
                                            </a>
                                        </li>
                                        <li>
                                    <a asp-controller="User" asp-action="ListUser">
                                                <i class="bi bi-circle"></i><span>List Users</span>
                                            </a>
                                        </li>


                                    </ul>
                                </li>

                                <!-- End Components Nav -->

                                <li class="nav-item">
                                    <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                                        <i class="bi bi-journal-text"></i><span>Ramp Operations</span><i class="bi bi-chevron-down ms-auto"></i>
                                    </a>
                                    <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                                        <li>
                                            <a href="#">
                                                <i class="bi bi-circle"></i><span>Add Ramp</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="bi bi-circle"></i><span>Delete Ramp</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="forms-editors.html">
                                                <i class="bi bi-circle"></i><span>List Ramps</span>
                                            </a>
                                        </li>

                                    </ul>
                                </li>

                                <!-- End Forms Nav -->

                                <li class="nav-item">
                                    <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                                        <i class="bi bi-layout-text-window-reverse"></i><span>Parking Lot Operations</span><i class="bi bi-chevron-down ms-auto"></i>
                                    </a>
                                    <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                                        <li>
                                            <a href="#">
                                                <i class="bi bi-circle"></i><span>Add Ramp</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="forms-editors.html">
                                                <i class="bi bi-circle"></i><span>Add Parking Lots</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                                        <i class="bi bi-layout-text-window-reverse"></i><span>Vehicle Operations</span><i class="bi bi-chevron-down ms-auto"></i>
                                    </a>
                                    <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                                        <li>
                                            <a href="#">
                                                <i class="bi bi-circle"></i><span>Add Vehicle</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                        break;

                    case "Dispatcher":
                                <li class="nav-item">
                                    <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                                        <i class="bi bi-menu-button-wide"></i><span>Dispatcher Operations</span><i class="bi bi-chevron-down ms-auto"></i>
                                    </a>
                                    <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                                        <li>
                                            <a href="#">
                                                <i class="bi bi-circle"></i><span>Shipment Operations</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="bi bi-circle"></i><span>Ramp Operations</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="bi bi-circle"></i><span>Parking Lot Operations</span>
                                            </a>
                                        </li>


                                    </ul>
                                </li>
                        break;
                        case "RampStaff":
                                <li class="nav-item">
                                    <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                                        <i class="bi bi-menu-button-wide"></i><span>Ramp Staff Operations</span><i class="bi bi-chevron-down ms-auto"></i>
                                    </a>
                                    <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                                        <li>
                                            <a href="#">
                                                <i class="bi bi-circle"></i><span>List Ramps</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="bi bi-circle"></i><span>Notify Security</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="bi bi-circle"></i><span>Notifications</span>
                                            </a>
                                        </li>


                                    </ul>
                                </li>
                        break;
                        case "Security":
                                <li class="nav-item">
                                    <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                                        <i class="bi bi-menu-button-wide"></i><span>Security Operations</span><i class="bi bi-chevron-down ms-auto"></i>
                                    </a>
                                    <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                                        <li>
                                            <a href="#">
                                                <i class="bi bi-circle"></i><span>List Vehicles</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="bi bi-circle"></i><span>Parking Lot</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="bi bi-circle"></i><span>Notifications</span>
                                            </a>
                                        </li>


                                    </ul>
                                </li>
                        break;
                   
                }
              }
                
                

            

            

        </ul>

    </aside><!-- End Sidebar-->

    <main id=main class="main">
        @RenderBody()
    </main>
    <!-- End #main -->
    <!-- ======= Footer ======= -->
    <!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/chart.js/chart.min.js"></script>
    <script src="~/assets/vendor/echarts/echarts.min.js"></script>
    <script src="~/assets/vendor/quill/quill.min.js"></script>
    <script src="~/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="~/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>

</body>

</html>