@model IEnumerable<wrts.Models.User>
@using Microsoft.AspNetCore.Localization
@using MultiLanguage.ExtensionMethods

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureList = ViewData["Cultures"] as List<SelectListItem>;
}
@{
    ViewData["Title"] = "List User";
    Layout = "_Layout";
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@Html.Translate("userlist")</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.Translate("email")
                        </th>
                        <th>
                            @Html.Translate("password")
                        </th>
                        <th>
                            @Html.Translate("name")
                        </th>
                        <th>
                            @Html.Translate("surname")
                        </th>
                        <th>
                            @Html.Translate("department")
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Password)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Surname)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DepartmentID)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.UserID">@Html.Translate("edit")</a> |
                                <a asp-action="Details" asp-route-id="@item.UserID">@Html.Translate("details")</a> |
                                <a asp-action="Delete" asp-route-id="@item.UserID">@Html.Translate("sil")</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
