@model IEnumerable<wrts.Models.Vehicles>
@using Microsoft.AspNetCore.Localization
@using MultiLanguage.ExtensionMethods

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureList = ViewData["Cultures"] as List<SelectListItem>;
}
@{
    Layout = "_Layout";
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@Html.Translate("vehiclelist")</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.driver_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.driver_surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phone_number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.citizenship_number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleTypeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.company_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.waybill_number)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.driver_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.driver_surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone_number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.citizenship_number)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleTypeID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.company_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.waybill_number)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VehicleID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VehicleID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VehicleID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
    </div>

</div>