@model IEnumerable<wrts.Models.Ramp>
@using Microsoft.AspNetCore.Localization
@using MultiLanguage.ExtensionMethods

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureList = ViewData["Cultures"] as List<SelectListItem>;
}
@{
    ViewData["Title"] = "Ramp List";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@Html.Translate("rampadd")</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>
                            @Html.Translate("rampid")
            </th>
             <th>
                            @Html.Translate("aracid")
            </th>
            <th>
                            @Html.Translate("rampstate")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
       
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RampID)
            </td>
                <td>
                    @{
                    if(item.VehiclesID == 0)
                        {
                            
                        }else
                        {
                            @Html.DisplayFor(modelItem => item.VehiclesID)
                        }
                    }
                </td>
                <td>
                    @{
                        if (item.VehiclesID == 0)
                        {
                                        @:<h4 style="color:green">@Html.Translate("bos")</h4>
                        }else
                        {
                                        @: <h4 style="color:red">@Html.Translate("dolu")</h4>
                        }
                    }
                </td>
            <td>
                                <a asp-action="Delete" asp-controller="Ramp" asp-route-id="@item.RampID">@Html.Translate("sil")</a>
                
                
            </td>
        </tr>
}
    </tbody>
            </table>
        </div>
    </div>
</div>
