@model IEnumerable<wrts.Models.ParkingSpot>

@{
    ViewData["Title"] = "ListParkingSpot";
}
<br /><br />
<h2 style="text-align:center">Parking Spot Actions</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ParkStatusID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkingLotID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ParkStatusID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParkingLotID)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.ParkingSpotID" class="btn btn-warning btn-block">Edit</a> 
                    
                    <a asp-action="Delete" asp-route-id="@item.ParkingSpotID" class="btn btn-danger btn-block">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
