@model IEnumerable<wrts.Models.ParkingLot>

@{
    ViewData["Title"] = "ListParkingLot";
}

<h2 style="text-align:center">Parking Lot Actions</h2>

@if (TempData["message"] != null)
{
    <h6 style="color:red; text-align:center;">@TempData["message"]</h6>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ParkingLotName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vehicleID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ParkingLotName)
            </td>
            <td>
                    @{

                        WRTSDbContext dbContext = new WRTSDbContext();
                        var parkinglot = dbContext.VehicleType.FirstOrDefault(x => x.VehicleTypeID == item.vehicleID);
                        string typename = parkinglot.VehicleTypeName;
                    }
                    @typename
            </td>

            <td>

                    <a asp-action="ListParkingSpot" asp-route-id="@item.ParkingLotID" class="btn btn-success btn-block">View Parking Spots</a>
                    <a asp-action="EditParkingLot" asp-route-id="@item.ParkingLotID" class="btn btn-warning btn-block">Edit</a>
                    <a asp-action="DeleteParkingLot" asp-route-id="@item.ParkingLotID" class="btn btn-danger btn-block">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
